html {
    background-color: rgb(20, 182, 231);
    font-family: sans-serif;
    padding: 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box p {
    width: 300px;
    margin-top: 2rem;
}

.title {
    padding: 2rem 0 1rem 0;
}

.img-animal {
    width: 200px;
}

#canvas {
    background-color: white;
    border: 1px solid blue;
}