{% extends "base.html" %}
{% block content %}

  <div class="main-container">
    <div>
      <a href="/" class="button is-text">&lt; Return to main menu</a>
    </div>
    <h1 class="title">Practice Handwriting Here</h1>
    <div>
      <!-- link for image from internet 
      https://i.redd.it/zjj7lnhbzto91.jpg -> giraffe
      https://i.redd.it/4ih3ahv5axu91.jpg -> dog
      https://i.redd.it/4cjkataggkv91.jpg -> dinosor -->
      <img class="img-animal" src="https://i.redd.it/4ih3ahv5axu91.jpg" alt="dog image"/> 
      <canvas id="canvas" width="200" height="200"></canvas>
    </div>
    <div style="padding: 1rem;">
      
      <!--
      {% if message %}
        <p style="font-size: 0.75rem;">{{message}}</p>
      {% endif %}
      <p style="margin-top: 0.5rem;">Write an uppercase "{{letter.lower()}}"</p>

      for check function
      <p style="margin-top: 0.5rem;">Oh, thank you for helping me about finding the animal! It's a christmas dog!</p>
      -->

    </div>
    <div>
      <form id="add-data-form" action="add-data" method="POST">
        <input id="pixels" name="pixels" type="hidden" />
        <input id="letter" name="letter" type="hidden" value="{{letter}}" />
        
        <button type="button" class="button is-success" onclick="addDataAction()">add letter</button>
        <button type="button" class="button is-success" onclick="checkAction()">check answer</button>
        <button type="button" class="button is-info" onclick="resetCanvas()">clear</button>
      </form>
    </div>
  </div>
  
  <script>
    $(document).ready(function() {
      startCanvas()
    })
  </script>

{% endblock %}